/*
COLORS

*/
:root {
  --color-purple-light: #DB30DF;
  --color-pink: #DF307A;
  --color-red: #DF3030;
  --color-blue-light: #30AEDF;
  --color-yellow: #DF9930;
  --color-purple-dark: #A730DF;
  --color-blue-dark: #304CDF;
  --color-green: #34DF30;
  --color-black: #000;
  --color-white: #fff;
  --color-border: #FFFFFF80;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.main__header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-black);
}

.first__head {
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  background-color: #fff;
}

.second__head {
  width: 100%;
  margin-top: 83px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 60px;
}

main section {
  width: 100%;
}
main .section__one {
  background-color: var(--color-black);
  position: relative;
  color: var(--color-white);
}
main .section__one .container__content {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
main .section__one .cards__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main .section__two {
  background-color: var(--color-black);
  color: var(--color-white);
}
main .section__two .multichain__container {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
main .section__three {
  background-color: #8c80d2;
}
main .section__four {
  background-color: #3416d9;
}

.logo {
  width: 56px;
  height: 56.91px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 626.93px;
  height: 48px;
}
.navigation__lists {
  width: 326px;
  color: #0A0A14;
}
.navigation__lists--box {
  display: flex;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
}
.navigation__lists--links {
  text-decoration: none;
}
.navigation__mood {
  background-color: rgba(185, 185, 185, 0.9254901961);
  padding: 1px;
  border-radius: 100px;
  display: flex;
}
.navigation__mood img {
  width: 31.14px;
  height: 31.14px;
}
.navigation__button .button__white {
  color: #2FACDA;
  text-decoration: none;
  padding: 3px;
  background-color: transparent;
  width: 189px;
  height: 48px;
  padding: 15px 46px 15px 46px;
  border: 1px solid #2FACDA;
}

.header__contents {
  width: 54%;
}
.header__contents .heading__primary {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px;
}
.header__contents .heading__secondary {
  font-size: 61px;
  font-weight: 900;
  margin-bottom: 15px;
}
.header__contents .button__blue {
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  background-color: #2FACDA;
  padding: 15px 46px 15px 46px;
  border: 1px solid #2FACDA;
  color: #fff;
}
.header__contents .paragraph {
  margin-bottom: 15px;
  font-size: 19px;
  line-height: 26px;
}
.header__contents .hero__image {
  width: 457px;
  height: 457px;
  display: inline-block;
}

.container__content .heading__primary {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px;
}
.container__content .heading__secondary {
  font-size: 61px;
  font-weight: 900;
  margin-bottom: 15px;
}
.container__content .heading__tertiary {
  line-height: 27px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.card {
  width: 326px;
  border-radius: 20px;
  padding: 20px;
  line-height: 20px;
  background-color: rgba(159, 183, 206, 0.1490196078);
}
.card .secondary__pargraph {
  font-size: 17px;
  line-height: 24px;
}
.card__image {
  width: 60px;
  height: 60px;
}

.top__div,
.bottom__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__div .left__container .heading__primary {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px;
}
.top__div .left__container .heading__secondary {
  font-size: 61px;
  font-weight: 900;
  margin-bottom: 15px;
}
.top__div .right__container .button__blue {
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  background-color: #2FACDA;
  padding: 15px 46px 15px 46px;
  border: 1px solid #2FACDA;
  color: #fff;
}

.bottom__div {
  gap: 149px;
  margin-top: 60px;
}
.bottom__div .right__container .heading__tertiary {
  line-height: 27px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.bottom__div .right__container .secondary__pargraph {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
