/*
COLORS

*/
:root {
  --color-purple-light: #DB30DF;
  --color-pink: #DF307A;
  --color-red: #DF3030;
  --color-blue-light: #30AEDF;
  --color-yellow: #DF9930;
  --color-purple-dark: #A730DF;
  --color-blue-dark: #304CDF;
  --color-green: #34DF30;
  --color-black: #000;
  --color-white: #fff;
  --color-border: #FFFFFF80;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.main__header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-black);
}
.main__header .first__head {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  background-color: #fff;
  z-index: 100;
}
@media only screen and (max-width: 480px) {
  .main__header .first__head {
    height: 7%;
  }
}
.main__header .second__head {
  width: 100%;
  margin-top: 83px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 60px;
}
@media only screen and (max-width: 480px) {
  .main__header .second__head {
    padding: 10px 4px 10px 4px;
  }
}

main .section__one {
  width: 100vw;
  background-color: var(--color-black);
  position: relative;
  color: var(--color-white);
}
@media only screen and (max-width: 480px) {
  main .section__one {
    width: 100%;
    height: 126vh;
  }
}
main .section__two {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: center;
}
main .section__three {
  background-color: var(--color-black);
  color: var(--color-white);
}
main .section__three .section__contents {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  main .section__three .section__contents {
    width: 100%;
  }
}
main .section__four {
  background: linear-gradient(180deg, #000000 0%, rgb(10, 71, 111) 53.64%, #000000 100%);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
}

footer {
  background-color: #000000;
  color: var(--color-white);
}

.manu {
  position: fixed;
  top: 20px;
  right: 26px;
  z-index: 1000;
}
@media only screen and (min-width: 480px) {
  .manu {
    display: none;
  }
}

.main__header .first__head .logo {
  width: 56px;
  height: 56.91px;
}
.main__header .first__head .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 626.93px;
  height: 48px;
}
@media only screen and (max-width: 480px) {
  .main__header .first__head .navigation {
    width: 117.93px;
  }
}
.main__header .first__head .navigation__lists {
  width: 326px;
  color: #0A0A14;
}
@media only screen and (max-width: 480px) {
  .main__header .first__head .navigation__lists {
    display: none;
  }
}
.main__header .first__head .navigation__lists--box {
  display: flex;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
}
.main__header .first__head .navigation__lists--links {
  text-decoration: none;
}
.main__header .first__head .navigation__mood {
  background-color: rgba(185, 185, 185, 0.9254901961);
  padding: 1px;
  border-radius: 100px;
  display: flex;
}
.main__header .first__head .navigation__mood img {
  width: 31.14px;
  height: 31.14px;
}
@media only screen and (max-width: 480px) {
  .main__header .first__head .navigation__button {
    display: none;
  }
}
.main__header .first__head .navigation__button .button__white {
  color: #2FACDA;
  text-decoration: none;
  padding: 3px;
  background-color: transparent;
  width: 189px;
  height: 48px;
  padding: 15px 46px 15px 46px;
  border: 1px solid #2FACDA;
}
@media only screen and (max-width: 480px) {
  .main__header .second__head {
    margin-top: 84px;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.main__header .second__head .header__contents {
  width: 54%;
}
@media only screen and (max-width: 480px) {
  .main__header .second__head .header__contents {
    text-align: center;
    width: 100%;
  }
}
.main__header .second__head .header__contents .heading__primary {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px;
}
.main__header .second__head .header__contents .heading__secondary {
  font-size: 61px;
  font-weight: 900;
  margin-bottom: 15px;
  font-size: 45px;
}
.main__header .second__head .header__contents .button__blue {
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  background-color: #2FACDA;
  padding: 15px 46px 15px 46px;
  border: 1px solid #2FACDA;
  color: #fff;
}
.main__header .second__head .header__contents .paragraph {
  margin-bottom: 15px;
  font-size: 19px;
  line-height: 26px;
}
.main__header .second__head .hero__image {
  width: 457px;
  height: 457px;
}

@media only screen and (max-width: 480px) {
  .section__one--contents {
    height: 80%;
  }
}
@media only screen and (max-width: 480px) {
  .section__one .container__image {
    height: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .section__one .container__image .background__image {
    width: 100%;
    margin-top: 260px;
  }
}
.section__one .container__content {
  position: absolute;
  top: 18%;
  left: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media only screen and (max-width: 480px) {
  .section__one .container__content {
    top: 3%;
    height: 107%;
    display: block;
  }
}
.section__one .container__content .heading__primary {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px;
  text-align: center;
}
.section__one .container__content .heading__secondary {
  font-size: 61px;
  font-weight: 900;
  margin-bottom: 15px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .section__one .container__content .heading__secondary {
    font-size: 44px;
  }
}
.section__one .container__content .heading__tertiary {
  line-height: 27px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}
.section__one .cards__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .section__one .cards__box {
    flex-direction: column;
    height: 80%;
    align-items: center;
  }
}
.section__one .cards__box .card {
  width: 326px;
  border-radius: 20px;
  padding: 20px;
  line-height: 20px;
  background-color: rgba(159, 183, 206, 0.1490196078);
}
.section__one .cards__box .card .secondary__pargraph {
  font-size: 17px;
  line-height: 24px;
}
.section__one .cards__box .card__image {
  width: 60px;
  height: 60px;
}

.section__two .multichain__container {
  display: flex;
  flex-direction: column;
  padding: 150px 0 100px 0;
  width: 80%;
}
@media only screen and (max-width: 480px) {
  .section__two .multichain__container {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.section__two .multichain__container .top__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .section__two .multichain__container .top__div {
    flex-direction: column;
    text-align: center;
  }
}
.section__two .multichain__container .top__div .left__container .heading__primary {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px;
}
.section__two .multichain__container .top__div .left__container .heading__secondary {
  font-size: 61px;
  font-weight: 900;
  margin-bottom: 15px;
}
@media only screen and (max-width: 480px) {
  .section__two .multichain__container .top__div .left__container .heading__secondary {
    font-size: 45px;
  }
}
.section__two .multichain__container .top__div .right__container .button__blue {
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  background-color: #2FACDA;
  padding: 15px 46px 15px 46px;
  border: 1px solid #2FACDA;
  color: #fff;
}
.section__two .multichain__container .bottom__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
@media only screen and (max-width: 480px) {
  .section__two .multichain__container .bottom__div .left__container {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .section__two .multichain__container .bottom__div .left__container .coins {
    width: 257px;
    height: 257px;
  }
}
.section__two .multichain__container .bottom__div .right__container {
  flex-basis: 48%;
}
@media only screen and (max-width: 480px) {
  .section__two .multichain__container .bottom__div .right__container {
    flex-basis: 100%;
    text-align: center;
  }
}
.section__two .multichain__container .bottom__div .right__container .heading__tertiary {
  line-height: 27px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.section__two .multichain__container .bottom__div .right__container .secondary__pargraph {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
}

.section__three .section__contents {
  width: 100%;
}
.section__three .section__contents .heading__primary {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px;
  text-align: center;
}
.section__three .section__contents .heading__secondary {
  font-size: 61px;
  font-weight: 900;
  margin-bottom: 15px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .section__three .section__contents .heading__secondary {
    font-size: 45px;
  }
}
.section__three .section__contents .container__phase {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
@media only screen and (max-width: 480px) {
  .section__three .section__contents .container__phase {
    margin-top: 20px;
  }
}
.section__three .section__contents .container__phase .phase__box {
  width: 354px;
  padding: 40px;
  border: 0.77px solid var(--color-blue-light);
  border-radius: 15px;
  background-color: rgba(50, 137, 169, 0.5019607843);
}
@media only screen and (max-width: 480px) {
  .section__three .section__contents .container__phase .phase__box {
    width: 155.3px;
    padding: 12px;
    border-radius: 8px;
  }
}
.section__three .section__contents .container__phase .phase__box .heading__tertiary {
  line-height: 27px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 32px;
}
@media only screen and (max-width: 480px) {
  .section__three .section__contents .container__phase .phase__box .heading__tertiary {
    font-size: 20px;
  }
}
.section__three .section__contents .container__phase .phase__box .list__box li {
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  list-style: none;
}
@media only screen and (max-width: 480px) {
  .section__three .section__contents .container__phase .phase__box .list__box li {
    font-size: 16px;
  }
}
.section__three .section__contents .line__box {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .section__three .section__contents .line__box {
    width: 307px;
    margin-top: 23px;
    margin-bottom: 34px;
  }
}
.section__three .section__contents .line__box .lines {
  width: 180px;
  padding: 3px;
  border-radius: 100px;
  background-color: var(--color-blue-light);
}
.section__three .section__contents .line__box .lines--light {
  background-color: rgba(50, 137, 169, 0.5019607843);
}
.section__three .section__contents .line__box .arrow {
  padding: 10px;
  border: 1px solid rgba(48, 72, 93, 0.5882352941);
  background: rgba(48, 173, 218, 0.3294117647);
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.section__four .section__contents .heading__primary {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px;
  text-align: center;
}
.section__four .section__contents .heading__secondary {
  font-size: 61px;
  font-weight: 900;
  margin-bottom: 15px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .section__four .section__contents .heading__secondary {
    font-size: 45px;
  }
}
.section__four .section__contents .secondary__pargraph {
  font-size: 17px;
  line-height: 24px;
  font-size: 22px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .section__four .section__contents .secondary__pargraph {
    font-size: 19px;
  }
}
.section__four .section__contents .statistic__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  margin-top: 100px;
  padding-bottom: 120px;
}
@media only screen and (max-width: 480px) {
  .section__four .section__contents .statistic__container {
    flex-direction: column;
    margin-top: 21px;
    padding-bottom: 15px;
    gap: 60px;
  }
}
.section__four .section__contents .statistic__container .left__box {
  height: 100%;
}
.section__four .section__contents .statistic__container .left__box .box__details {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.section__four .section__contents .statistic__container .left__box .box__details div img {
  width: 45px;
  height: 45px;
}
.section__four .section__contents .statistic__container .left__box .box__details p {
  display: inline-block;
  text-align: left;
  line-height: 32px;
  margin-left: 15px;
}
.section__four .section__contents .statistic__container .left__box .box__details p .DB30DF {
  color: #DB30DF;
}
.section__four .section__contents .statistic__container .left__box .box__details p .DF3079 {
  color: #DF3079;
}
.section__four .section__contents .statistic__container .left__box .box__details p .b0AEDF {
  color: #30AEDF;
}
@media only screen and (max-width: 480px) {
  .section__four .section__contents .statistic__container .tocken__chat {
    order: -1;
  }
}
@media only screen and (max-width: 480px) {
  .section__four .section__contents .statistic__container .tocken__chat .thechat {
    width: 330px;
  }
}
.section__four .section__contents .statistic__container .right__box {
  height: 100%;
}
.section__four .section__contents .statistic__container .right__box .box__details {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.section__four .section__contents .statistic__container .right__box .box__details div img {
  width: 45px;
  height: 45px;
}
.section__four .section__contents .statistic__container .right__box .box__details p {
  display: inline-block;
  text-align: left;
  line-height: 32px;
  margin-left: 15px;
}
.section__four .section__contents .statistic__container .right__box .box__details p .DF9930 {
  color: #DF9930;
}
.section__four .section__contents .statistic__container .right__box .box__details p .A730DF {
  color: #A730DF;
}
.section__four .section__contents .statistic__container .right__box .box__details p .b04CDF {
  color: #304CDF;
}
.section__four .section__contents .statistic__container .right__box .box__details p .b3DF30 {
  color: #33DF30;
}

footer .navigation__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7764705882);
  padding: 100px 0 10px 0;
}
@media only screen and (max-width: 480px) {
  footer .navigation__footer {
    flex-direction: column;
    padding-top: 2px;
    justify-content: center;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  footer .navigation__logo {
    margin-bottom: 20px;
  }
}
footer .navigation__list {
  width: 40%;
}
@media only screen and (max-width: 480px) {
  footer .navigation__list {
    margin-bottom: 20px;
    width: 50%;
  }
}
footer .navigation__list ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media only screen and (max-width: 480px) {
  footer .navigation__list ul {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
footer .navigation__list ul li {
  margin-bottom: 10px;
}
footer .navigation__list ul li a {
  text-decoration: none;
  color: var(--color-white);
}
footer P {
  text-align: center;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
