//////////////////////////////////
/// MANU BTN
.manu{
    position: fixed;
    top: 20px;
    right: 26px;
    z-index: 1000;

    @media only screen and (min-width: $bp-moble){
        display: none;
    }
}


//////////////////////////////////
/// HEADER
.main__header{
    .first__head{
        background-color: #0a0a1483;
        .logo{
            width: 56px;
            height: 56.91px;
        
        }
        
        .navigation{
        
            @media only screen and (max-width: $bp-moble){
                width: 117.93px;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 626.93px;
            height: 48px;
        
            &__lists{
                width: 326px;
                color: #0A0A14;
        
                @media only screen and (max-width: $bp-moble){
                    display: none;
                }
        
                &--box{
                    display: flex;
                    list-style: none;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 17.6px;
        
                }
        
                &--links{
                    text-decoration: none;
                    
                }
            }
        
            &__mood{
                background-color: #b9b9b9ec;
                padding: 1px;
                border-radius: 100px;
                display: flex;
        
                img{
                    width: 31.14px;
                    height: 31.14px;
                }
            }
        
            &__button{
                @media only screen and (max-width: $bp-moble){
                    display: none;
                }
                
                .button__white{
                    color: #2FACDA;
                    text-decoration: none;
                    padding: 3px;
                    background-color: transparent;
                    width: 189px;
                    height: 48px;
                    padding: 15px 46px 15px 46px;
                    border: 1px solid #2FACDA;
        
                }
            }
        
            
        }
    }

    .second__head{
        @media only screen and (max-width: $bp-moble){
            margin-top: 84px;
            flex-direction: column-reverse;
            align-items: center;
        }
        .header__contents{
            width: 54%;
            @media only screen and (max-width: $bp-moble){
                text-align: center;
                width: 100%;
            }
        
            .heading__primary{
                @include primaryheading;
            }
            .heading__secondary{
                @include heading__secondary;
                font-size: 45px
            }
            .button__blue{
                @include button__blue;  
            }
            
            .paragraph{
                margin-bottom: 15px;
                font-size: 19px;
                line-height: 26px;
            }
        }
    
        .hero__image{
            width: 457px;
            height: 457px;

            @media only screen and (max-width: $bp-moble){
                width: 430px;
            }
        }
    }
}


//////////////////////////////////
/// MAIN
.section__one{
    &--contents{
        
        @media only screen and (max-width: $bp-moble){
            height: 80%;
        }
    }
    
    
    .container__image{
        @media only screen and (max-width: $bp-moble){
            height: 100%;
        }
        .background__image{
            @media only screen and (max-width: $bp-moble){
                width: 100%;
                margin-top: 260px;
            }
        }
    }
    .container__content{
        position: absolute;
        top: 18%;
        left: 10%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        @media only screen and (max-width: $bp-moble){
            top: 3%;
            height: 107%;
            display: block;
            
        }

        .heading__primary{
            @include primaryheading;
            text-align: center;
        }
    
        .heading__secondary{
            @include heading__secondary;
            text-align: center;
            @media only screen and (max-width: $bp-moble){
                font-size: 44px;
            }
        }
    
        .heading__tertiary{
            @include heading__tertiary;
        }   
    }
    .cards__box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media only screen and (max-width: $bp-moble){
            flex-direction: column;
            height: 80%;
            align-items: center;
        }
        .card{
            width: 326px;
            border-radius: 20px;
            padding: 20px;
            line-height: 20px;
            background-color: #9FB7CE26;
        
            .secondary__pargraph{
                @include secondary__pargraph;
            }
        
            &__image{
                width: 60px;
                height: 60px;
            }
        
        }
    }
    
    
}
/////////////////////////////////////////
/// SECTION TWO
.section__two{
    .multichain__container{
        display: flex;
        flex-direction: column;
        padding: 150px 0 100px 0;
        width: 80%;

        @media only screen and (max-width: $bp-moble){
            justify-content: center;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .top__div{
            display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $bp-moble){
            flex-direction: column;
            text-align: center;
        }
            .left__container{
                .heading__primary{
                    @include primaryheading;
                }

                .heading__secondary{
                    @include heading__secondary;
                    @media only screen and (max-width: $bp-moble){
                        font-size: 45px;
                    }
                }
            }
        
            .right__container{
                .button__blue{
                    @include button__blue;  
                }
            }
        }
        
        
        .bottom__div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 60px;
            .left__container{
                @media only screen and (max-width: $bp-moble){
                    display: none;
                }
                .coins{
                    @media only screen and (max-width: $bp-moble){
                        width: 257px;
                        height: 257px;
                    }
                }
            }
            .right__container{
                flex-basis: 48%;
                @media only screen and (max-width: $bp-moble){
                    flex-basis: 100%;
                    text-align: center;
                }

                .center{
                    display: none;

                    @media only screen and (max-width: $bp-moble){
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    .coins{
                        width: 383px;
                        height: 400px;
                    }
                }
                .heading__tertiary{
                    @include heading__tertiary;
                    text-transform: uppercase;
                }
        
                .secondary__pargraph{
                    @include secondary__pargraph;
                    margin-bottom: 10px;
                }
            }
            
        }
    }
}
    

/////////////////////////////////////////
/// SECTION THREE
.section__three{
    .section__contents{
        width: 100%;
    
        .heading__primary{
            @include primaryheading;
            text-align: center;
        }
    
        .heading__secondary{
            @include heading__secondary;
            text-align: center;
            
            @media only screen and (max-width: $bp-moble){
                font-size: 45px;
            }
        }
        
        .container__phase{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
    
            @media only screen and (max-width: $bp-moble){
                margin-top: 20px;
            }
            
    
            .phase__box{
                width: 354px;
                padding: 40px;
                border: 0.77px solid var(--color-blue-light);
                border-radius: 15px;
                background-color: #3289a980;
    
                @media only screen and (max-width: $bp-moble){
                    width: 155.3px;
                    padding: 12px;
                    border-radius: 8px;
                }
    
                .heading__tertiary{
                    @include heading__tertiary;
                    text-transform: uppercase;
                    font-size: 32px;
    
                    @media only screen and (max-width: $bp-moble){
                        font-size: 20px;
                    }
                }
    
                .list__box{
                    li{
                        font-size: 21px;
                        font-weight: 400;
                        line-height: 25px;
                        list-style: none;
                        @media only screen and (max-width: $bp-moble){
                            font-size: 16px;
                        }
                    }
                }
            }
    
            
            
        }
    
        .line__box{
            width: 500px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 100px;
            text-align: center;
    
            @media only screen and (max-width: $bp-moble){
                width: 307px;
                margin-top: 23px;
                margin-bottom: 34px;
            }
    
            .lines{
                width: 180px;
                padding: 3px;
                border-radius: 100px;
                background-color: var(--color-blue-light);

                @media only screen and (max-width: $bp-moble){
                    width: 99px;
                }
    
                &--light{
                    background-color: #3289a980;
                }
            }
    
            .arrow{
                padding: 10px;
                border: 1px solid #30485D96;
                background: #30ADDA54;
                border-radius: 100px;
                width: 40px;
                height: 40px;
            }
        }
    }
}


/////////////////////////////////////////
/// SECTION FOUR
.section__four{
    .section__contents{
        .heading__primary{
            @include primaryheading;
            text-align: center;
        }
    
        .heading__secondary{
            @include heading__secondary;
            text-align: center;

            @media only screen and (max-width: $bp-moble){
                font-size: 45px;
            }
        }
    
        .secondary__pargraph{
            @include secondary__pargraph;
            font-size: 22px;
            text-align: center;

            @media only screen and (max-width: $bp-moble){
                font-size: 19px;
            }
        }
    
        .statistic__container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 130px;
            margin-top: 100px;
            padding-bottom: 120px;
    
            @media only screen and (max-width: $bp-moble){
                flex-direction: column;
                margin-top: 21px;
                padding-bottom: 15px;
                gap: 60px;
            }
    
            .left__box{
                height: 100%;
                @media only screen and (max-width: $bp-moble){
                    display: none;
                }
                .box__details{
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    
        
                    div img {
                        width: 45px;
                        height: 45px;
                    }
        
                    p{
                        display: inline-block;
                        text-align: left;
                        line-height: 32px;
                        margin-left: 15px;
            
                        .DB30DF{
                            color: #DB30DF;
                        }
        
                        .DF3079{
                            color: #DF3079;
                        }
        
                        .b0AEDF{
                            color: #30AEDF;
                        }
        
                    }
                }
            }
    
            .tocken__chat{
                @media only screen and (max-width: $bp-moble){
                    order: -1;
                }

                .thechat{
                    @media only screen and (max-width: $bp-moble){
                        width: 330px;
                    }
                }
            }
            .right__box{
                height: 100%;
                @media only screen and (max-width: $bp-moble){
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    
                }
                .left__box{
                    display: none;
                    @media only screen and (max-width: $bp-moble){
                        display: block;
                        width: 50%;
                        margin-left: 20px;
                    }
                }

                .right__box{
                    @media only screen and (max-width: $bp-moble){
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 45%;
                    }
                }
                .box__details{
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    
        
                    div img {
                        width: 45px;
                        height: 45px;
                    }
        
                    p{
                        display: inline-block;
                        text-align: left;
                        line-height: 32px;
                        margin-left: 15px;
                        
                        .DF9930{
                            color: #DF9930;
                        }
    
                        .A730DF{
                            color: #A730DF;
                        }
        
                        .b04CDF{
                            color: #304CDF;
                        }
        
                        .b3DF30{
                            color: #33DF30;
                        }
        
                    }
                }
            }
    
            
    
            
            
        }
    }
}

/////////////////////////////////////////
/// FOOTER
footer{
    .navigation{
        &__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            margin: 0 auto;
            border-bottom: 1px solid #ffffffc6;
            padding: 100px 0 10px 0;



            @media only screen and (max-width: $bp-moble){
                flex-direction: column;
                padding-top: 2px;
                justify-content: center;
                width: 100%;
            }
        }

        &__logo{
            @media only screen and (max-width: $bp-moble){
                margin-bottom: 20px;
            }
        }
    
        &__list{
            width: 40%;
            @media only screen and (max-width: $bp-moble){
                margin-bottom: 20px;
                width: 50%;
            }
            ul{
                width: 100%;
                display: flex;
                justify-content: space-between;
                list-style: none;
                @media only screen and (max-width: $bp-moble){
                    flex-wrap: wrap;
                    justify-content: space-around;
                }
    
                li{
                    margin-bottom: 10px;
                    a{
                        text-decoration: none;
                        color: var(--color-white);
                        
                    }
                }
            }
        }
    }
    
    P{
        text-align: center;
        padding: 20px;
    }
}
