//////////////////////////////////
/// MANU BTN
.manu{
    display: none;
    @media only screen and (max-width: $bp-moble){
        display: block;
        position: fixed;
        top: 27px;
        right: 26px;
        z-index: 1000;
    }
}


//////////////////////////////////
/// HEADER
.main__header{
    .first__head{
        background-color: #0a0a1483;
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: fixed;
        z-index: 100;

        @media only screen and (max-width: $bp-moble){
            height: 10%;
        }
        .logo{
            width: 56px;
            height: 56.91px;
        
        }
        
        .navigation{
        
            @media only screen and (max-width: $bp-moble){
                width: 117.93px;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 626.93px;
            height: 48px;
        
            &__lists{
                width: 326px;
                color: #fff;
        
                @media only screen and (max-width: $bp-moble){
                    display: none;
                }
        
                &--box{
                    display: flex;
                    list-style: none;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 17.6px;
        
                }
        
                &--links{
                    text-decoration: none;
                    
                }
            }
        
            &__mood{
                background-color: #b9b9b9ec;
                padding: 1px;
                border-radius: 100px;
                display: flex;
        
                img{
                    width: 31.14px;
                    height: 31.14px;
                }
            }
        
            &__button{
                @media only screen and (max-width: $bp-moble){
                    display: none;
                }
                
                .button__white{
                    color: #2FACDA;
                    text-decoration: none;
                    padding: 3px;
                    background-color: transparent;
                    width: 189px;
                    height: 48px;
                    padding: 15px 46px 15px 46px;
                    border: 1px solid #2FACDA;
        
                }
            }
        
            
        }
    }

    .second__head{
        @media only screen and (max-width: $bp-moble){
            margin-top: 84px;
            margin-bottom: 38px;
            flex-direction: column-reverse;
            align-items: center;
        }
        .header__contents{
            width: 54%;
            @media only screen and (max-width: $bp-moble){
                text-align: center;
                width: 100%;
            }
        
            .heading__primary{
                @include primaryheading;
                @media only screen and (max-width: $bp-moble){
                    margin-bottom: 8px;
                }
            }
            .heading__secondary{
                @include heading__secondary;
                @media only screen and (max-width: $bp-moble){
                    font-size: 45px;
                    line-height: 50px;
                }
                

            }
            .button__blue{
                @include button__blue;  
            }
            
            .paragraph{
                margin-bottom: 15px;
                font-size: 19px;
                line-height: 26px;
            }
        }
    
        .hero__image{
            width: 457px;
            height: 457px;

            @media only screen and (max-width: $bp-moble){
                width: 316px;
                height: 351px
            }
        }
    }
}


//////////////////////////////////
/// MAIN
.section__one{
    .container__content{
        width: 80%;
        margin: 0 auto;

        .heading__primary{
            @include primaryheading;
            text-align: center;
            @media only screen and (max-width: $bp-moble){
                margin-bottom: 8px;
            }
        }
    
        .heading__secondary{
            @include heading__secondary;
            text-align: center;
            @media only screen and (max-width: $bp-moble){
                font-size: 44px;
            }
        }
    
        .heading__tertiary{
            @include heading__tertiary;
        }   
    }
    .cards__box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media only screen and (max-width: $bp-moble){
            flex-direction: column;
            height: 80%;
            align-items: center;
        }
        .card{
            width: 326px;
            border-radius: 20px;
            padding: 20px;
            line-height: 20px;
            background-color: #9FB7CE26;
        
            @media only screen and (max-width: $bp-moble){
                margin-top: 10px;
            }
            .secondary__pargraph{
                @include secondary__pargraph;
            }
        
            &__image{
                width: 60px;
                height: 60px;
            }
        
        }
    }
    
    
}
/////////////////////////////////////////
/// SECTION TWO
.section__two{
    .multichain__container{
        display: flex;
        flex-direction: column;
        padding: 150px 0 100px 0;
        width: 80%;

        @media only screen and (max-width: $bp-moble){
            justify-content: center;
            padding-top: 50px;
            padding-bottom: 40px;
        }
        .top__div{
            display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $bp-moble){
            flex-direction: column;
            text-align: center;
        }
            .left__container{
                .heading__primary{
                    @include primaryheading;
                    @media only screen and (max-width: $bp-moble){
                        margin-bottom: 8px;
                    }
                }

                .heading__secondary{
                    @include heading__secondary;
                    @media only screen and (max-width: $bp-moble){
                        font-size: 45px;
                        line-height: 50px;
                    }
                }
            }
        
            .right__container{
                .button__blue{
                    @include button__blue;  
                }
            }
        }
        
        
        .bottom__div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 60px;
            @media only screen and (max-width: $bp-moble){
                margin-top: 40px;
                justify-content: center;
            }
            .left__container{
                @media only screen and (max-width: $bp-moble){
                    display: none;
                }
                .coins{
                    @media only screen and (max-width: $bp-moble){
                        width: 257px;
                        height: 257px;
                    }
                }
            }
            .right__container{
                flex-basis: 48%;
                @media only screen and (max-width: $bp-moble){
                    width: 100%;
                    text-align: center;
                }
                div{
                    @media only screen and (max-width: $bp-moble){
                        margin-bottom: 30px;
                    }
                }
                .center{
                    display: none;

                    @media only screen and (max-width: $bp-moble){
                        display: block;
                    }

                    .coins{
                        width: 320px;
                        height: 322px
                    }
                }
                .heading__tertiary{
                    @include heading__tertiary;
                    text-transform: uppercase;
                    @media only screen and (max-width: $bp-moble){
                        margin-bottom: 8px;
                    }
                }
        
                .secondary__pargraph{
                    @include secondary__pargraph;
                    margin-bottom: 10px;
                }
            }
            
        }
    }
}
    

/////////////////////////////////////////
/// SECTION THREE
.section__three{
    .section__contents{
        width: 100vw;
    
        .heading__primary{
            @include primaryheading;
            text-align: center;
            @media only screen and (max-width: $bp-moble){
                margin-bottom: 8px;
            }
        }
    
        .heading__secondary{
            @include heading__secondary;
            text-align: center;
            
            @media only screen and (max-width: $bp-moble){
                font-size: 45px;
                margin-bottom: 15px;
            }
        }
        
        .container__phase{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
    
            @media only screen and (max-width: $bp-moble){
                margin-top: 20px;
                padding: 8px;
                width: 700px;
            }
            
    
            .phase__box{
                width: 354px;
                padding: 40px;
                border: 0.77px solid var(--color-blue-light);
                border-radius: 15px;
                background-color: #3289a980;
    
                @media only screen and (max-width: $bp-moble){
                    width: 216.3px;
                    padding: 25px;
                    border-radius: 8px;
                    margin-right: 10px;
                }
    
                .heading__tertiary{
                    @include heading__tertiary;
                    text-transform: uppercase;
                    font-size: 32px;
    
                    @media only screen and (max-width: $bp-moble){
                        font-size: 20px;
                    }
                }
    
                .list__box{
                    li{
                        font-size: 21px;
                        font-weight: 400;
                        line-height: 25px;
                        list-style: none;
                        @media only screen and (max-width: $bp-moble){
                            font-size: 16px;
                        }
                    }
                }

                &--nomargin{
                    @media only screen and (max-width: $bp-moble){
                        margin-right: 0;
                    }
                    
                }
            }
    
            
            
        }
    
        .line__box{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            gap: 20px;
            margin-bottom: 100px;
            
    
            @media only screen and (max-width: $bp-moble){
                width: 307px;
                margin: 25px auto 40px;
            }
    
            .lines{
                width: 180px;
                padding: 3px;
                border-radius: 100px;
                background-color: var(--color-blue-light);

                @media only screen and (max-width: $bp-moble){
                    width: 99px;
                }
    
                &--light{
                    background-color: #3289a980;
                }
            }
    
            .arrow{
                padding: 10px;
                border: 1px solid #30485D96;
                background: #30ADDA54;
                border-radius: 100px;
                width: 40px;
                height: 40px;
            }
        }
    }
}


/////////////////////////////////////////
/// SECTION FOUR
.section__four{
    .section__contents{
        .heading__primary{
            @include primaryheading;
            text-align: center;
            @media only screen and (max-width: $bp-moble){
                margin-bottom: 8px;
            }
        }
    
        .heading__secondary{
            @include heading__secondary;
            text-align: center;

            @media only screen and (max-width: $bp-moble){
                font-size: 45px;
                margin-bottom: 15px;
            }
        }
    
        .secondary__pargraph{
            @include secondary__pargraph;
            font-size: 22px;
            text-align: center;

            @media only screen and (max-width: $bp-moble){
                font-size: 1.02em;
                display: inline-block;
            }
        }
    
        .statistic__container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 130px;
            margin-top: 100px;
            padding-bottom: 120px;
    
            @media only screen and (max-width: $bp-moble){
                display: grid;
                justify-items: center;
                row-gap: 30px;
                margin-top: 28px;
                padding-bottom: 40px;
            }
    
            .left__box{
                height: 100%;
                @media only screen and (max-width: $bp-moble){
                    display: none;
                }
                .box__details{
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    
                    
        
                    p{
                        display: inline-block;
                        text-align: left;
                        line-height: 32px;
                        margin-left: 15px;
            
                        .DB30DF{
                            color: #DB30DF;
                        }
        
                        .DF3079{
                            color: #DF3079;
                        }
        
                        .b0AEDF{
                            color: #30AEDF;
                        }
        
                    }
                }
            }
    
            .tocken__chat{
                @media only screen and (max-width: $bp-moble){
                    order: -1;
                }

                .thechat{
                    @media only screen and (max-width: $bp-moble){
                        width: 330px;
                    }
                }
            }
            .right__box{
                height: 100%;
                @media only screen and (max-width: $bp-moble){
                    display: none;
                }

                .right__box{
                    @media only screen and (max-width: $bp-moble){
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 47%;
                    }
                }
                .box__details{
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    
        
                    div img {
                        width: 45px;
                        height: 45px;
                    }
        
                    p{
                        display: inline-block;
                        text-align: left;
                        line-height: 32px;
                        margin-left: 15px;
                        
                        .DF9930{
                            color: #DF9930;
                        }
    
                        .A730DF{
                            color: #A730DF;
                        }
        
                        .b04CDF{
                            color: #304CDF;
                        }
        
                        .b3DF30{
                            color: #33DF30;
                        }
        
                    }
                }
            }
    
            .contena{
                @media only screen and (min-width: $bp-moble){
                    display: none;
                }

                @media only screen and (max-width: $bp-moble){
                    display: grid;
                    grid-template: repeat(4, 90px) / repeat(2, 1fr);
                    column-gap: 30px;
                }

                .box__details{
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    
                    .colorbox{
                        padding: 25px;
                        border-radius: 11px;
                    }

                    .color-pink{
                        background-color: var(--color-pink);
                    }

                    .purple-light{
                        background-color: var(--color-purple-light);
                    }

                    .color-red{
                        background-color: var(--color-red);
                    }

                    .color-yellow{
                        background-color: var(--color-yellow);
                    }

                    .blue-dark{
                        background-color: var(--color-blue-dark);
                    }

                    .purple-dark{
                        background-color: var(--color-purple-dark);
                    }

                    .color-pink{
                        background-color: var(--color-pink);
                    }

                    .blue-light{
                        background-color: var(--color-blue-light);
                    }

                    .color-green{
                        background-color: var(--color-green);
                    }
                    @media only screen and (max-width: $bp-moble){
                        div {
                            p{
                                display: inline-block;
                                text-align: left;
                                line-height: 32px;
                                margin-left: 15px;

                                    .DB30DF{
                                        color: #DB30DF;
                                    }

                                    .DF3079{
                                        color: #DF3079;
                                    }

                                    .RDF3079{
                                        color: var(--color-red);
                                    }

                                    .b0AEDF{
                                        color: var(--color-blue-light);
                                    }
                                    .DF9930{
                                        color: #DF9930;
                                    }
                
                                    .A730DF{
                                        color: #A730DF;
                                    }
                    
                                    .b04CDF{
                                        color: #304CDF;
                                    }
                    
                                    .b3DF30{
                                        color: #33DF30;
                                    }
                            
                                
                
                            }
                        }
                    }
                   
                    
                }
            }
    
            
            
        }
    }
}

/////////////////////////////////////////
/// FOOTER
footer{
    .navigation{
        &__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            
            padding: 100px 0 10px 0;



            @media only screen and (max-width: $bp-moble){
                flex-direction: column;
                padding-top: 2px;
                justify-content: center;
            }
        }

        &__logo{
            @media only screen and (max-width: $bp-moble){
                margin-bottom: 20px;
            }
        }
    
        &__list{
            width: 40%;
            @media only screen and (max-width: $bp-moble){
                margin-bottom: 20px;
            }
            ul{
                display: flex;
                justify-content: space-between;
                list-style: none;
                @media only screen and (max-width: $bp-moble){
                    flex-wrap: wrap;
                    justify-content: space-around;
                    gap: 5px;
                }
    
                li{
                    margin-bottom: 10px;
                    a{
                        text-decoration: none;
                        color: var(--color-white);
                        
                    }
                }
            }
        }

        &__icon{
            @media only screen and (max-width: $bp-moble){
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #ffffffc6;
                width: 70%;
            }

            img{
                @media only screen and (max-width: $bp-moble){
                    padding-bottom: 20px;
                    display: block;
                }
            }
        }
        
    }
    
    P{
        text-align: center;
        padding: 20px;
        @media only screen and (max-width: $bp-moble){
            padding-bottom: 25px;
        }
    }
}
