///////////////////////////////////
/// HEADER
.main__header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--color-black);
    
    .second__head{
        width: 100%;
        margin-top: 83px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 60px;

        @media only screen and (max-width: $bp-moble){
            padding: 10px 4px 10px 4px;

        }
    }
}



///////////////////////////////////
/// MAIN
main{
    .section__one{
        background-color: var(--color-black);
        color: var(--color-white);
        background-image: url(/img/background.svg);
        background-repeat: no-repeat;
        padding-bottom: 145px;

        @media only screen and (max-width: $bp-moble){
            background-size: cover;
            background-position: top;
            padding-top: 20px;
        }
    }

    .section__two{
        background-color: var(--color-black);
        color: var(--color-white);
        display: flex;
        justify-content: center;
    }

    .section__three{
        background-color: var(--color-black);
        color: var(--color-white);

        .section__contents{
            width: 80%;
            margin: 0 auto;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: $bp-moble){
                width: 100vw;
                
            }
        }
    }


    .section__four{
        background: linear-gradient(180deg, #000000 0%, rgb(10, 71, 111) 53.64%, #000000 100%);
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--color-white);
        @media only screen and (max-width: $bp-moble){
            padding-top: 20px;
        }
    }
}

footer{
    background-color: #000000;
    color: var(--color-white);
    
}